#app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #e8f0fe;
    min-height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto; /* Добавляем прокрутку, если карточек много */
}

.column h2 {
    text-align: center;
    color: #6a1b9a;
    margin-bottom: 15px;
}
button {
    background-color: #9575cd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #6a1b9a;
}
button:disabled {
    background-color: #d1c4e9;
}